@model JJBAWiki.Models.QuizViewModel

<div class="text-center">
    <h2>Trivia</h2>
    <p>Answer some trivia questions about JoJo's Bizarre Adventure.</p>
</div><br /><br />

<form asp-action="Index" method="post">
    @for (int i = 0; i < Model.Questions.Count; i++)
    {
        <div>
            <h3>@Model.Questions[i].Text</h3>
            @for (int j = 0; j < Model.Questions[i].Answers.Count; j++)
            {
                <div class="form-check">
                <input class="form-check-input" asp-for="@Model.Questions[i].UserAnswer" type="radio" name="@($"Questions[{i}].UserAnswerIndex")" id="@($"Questions_{i}__UserAnswerIndex_{j}")" value="@j" />
                <label class="form-check-label" for="@($"Questions_{i}__UserAnswerIndex_{j}")">@Model.Questions[i].Answers[j]</label>
                </div>
            }
        </div>
    }

    @if (ViewData["Checked"] as bool? != true)
    {
        <button type="submit" class="btn-success">Submit</button>
    }
</form>

@if (ViewData["Checked"] as bool? == true)
{
    <div>
        @foreach (var question in Model.Questions)
        {
            <p class="@(question.IsCorrect ? "question-correct" : "question-incorrect")">
                @question.Text - @(question.IsCorrect ? "Correct" : "Incorrect")
            </p>
        }
        <h2>You got @ViewData["Score"] out of @Model.Questions.Count correct!</h2>
    </div>
}
