@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JoJo's Bizarre Adventure Wiki</h1>

    <p>This is a wiki I've made that only goes up to part 7 of JoJo's Bizarre Adventure(JJBA) so that I can avoid giving myself spoilers.</p>
    <p class="text-danger">This site has major spoilers through part 7 of JJBA.</p><br />

    <!--Sub-page Links-->
    <div class="navigation m-0">
        <a href="@Url.Action("Part1", "Home")" class="btn btn-success ms-3">Phantom Blood</a>
        <a href="@Url.Action("Part2", "Home")" class="btn btn-success ms-3">Battle Tendency</a>
        <a href="@Url.Action("Part3", "Home")" class="btn btn-success ms-3">Stardust Crusaders</a>
        <a href="@Url.Action("Part4", "Home")" class="btn btn-success ms-3">Diamond Is Unbreakable</a>
        <a href="@Url.Action("Part5", "Home")" class="btn btn-success ms-3">Vento Aureo</a>
        <a href="@Url.Action("Part6", "Home")" class="btn btn-success ms-3">Stone Ocean</a>
        <a href="@Url.Action("Part7", "Home")" class="btn btn-success ms-3">Steel Ball Run</a>
    </div>
</div>
